<footer class="footer">
	<div class="container">
		<div style="display: flex; justify-content: space-between;">
			<div class="footer__shoutout">
				Made with 
				<span style="white-space: nowrap;">
					<img src="../images/svg/coffee.svg" alt="Coffee" style="opacity: 0.5; height: 16px;" />&nbsp;and&nbsp;<img src="../images/svg/heart.svg" alt="Love" style="opacity: 0.5; height: 16px;" />
				</span>
			</div>
			<div class="footer__links">
				<a href="/privacy">Privacy Policy</a>
				<a href="/impressum">Impressum</a>
			</div>
		
		</div>
	</div>
</footer>