<nav class="nav">
	<div class="container">
		<div class="nav__list">
			<!-- <a href class="nav--brand">W</a> -->
			<a href="/" class="nav--brand" style="overflow: hidden;">
				<img src="../images/logo.png" alt="W" width="38" />
			</a>
			<div>
				<a href="/#work" class="nav__list__item">Work</a>
				<a href="/#projects" class="nav__list__item">Projects</a>
				<a class="d-none d-sm-inline nav__list__item nav__list__item--mail" href="mailto:simon@wicki.io" class="nav__list__item nav__list__item--mail">
					Contact
				</a>
				<a class="d-inline d-sm-none nav__list__item nav__list__item--mail" href="mailto:simon@wicki.io">
						<img src="../images/svg/envelope.svg" alt="Contact" title="Contact" style="height: 18px; position: relative; top: -2px;" />
				</a>
			</div>
		</div>
	</div>
</nav>